body{
    margin: 0;
    padding: 0;

    }

ul, li, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;

}

.conteiner{
    padding-left: 50px;
    padding-right: 50 px;
}

.header{
    background-color: wheat;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.footer{
    background-color: #c0c0c0;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu__item{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

.menu__item a{
    text-decoration: none;
    padding: 10px;
    transition: all .3s;
    color: black;
}

.menu__item a:hover{
    transition: all .5s;
    color: white;
}

.form{
    max-width: 300px;
    margin: auto;
}

.form_control{
    margin-bottom: 15px;
    width: 100%;
}

.form_control input{
    width: 100%;
    border-radius: 8px;
    border: 1px solid;
    padding-top: 3px;
    padding-down: 3px;
    outline: none;
}

.form_btn{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    background-color: darkgray;
    cursor: pointer;
    color: white;
}

.form_btn:hover{
    transition: all .5s;
    background-color: green;
}

.attention{
    color: red;
}